//- Scripts
script(crossorigin="anonymous" src="https://cdn.polyfill.io/v3/polyfill.min.js?features=ArrayBuffer,console,DataView,document,fetch,Map,MutationObserver,Object.create,Promise,Set,String.prototype.trim,Symbol,Symbol.iterator,Symbol.prototype.description,WeakMap,WeakSet,XMLHttpRequest")
script(src="js/main.min.js")