.widgets-wrap
    .widget
        //- .widget__city Москва
        //- .widget__date-time
        //-     .widget__date 04 июня 2020
        //-     .widget__time 16:40 (мск)
        //- .widget__icon
        //-     img(src="https://openweathermap.org/img/wn/04d@2x.png").weather-icon
        //- .widget__temp 15.8 °C
        //- .widget-data
        //-     .data-block
        //-         .data__title Давление (мм рт.ст.): 
        //-         .data__num.pressure 300
        //-     .data-block
        //-         .data__title Влажность: 
        //-         .data__num.humidity 50%
        //-     .data-block
        //-         .data__title Облачность: 
        //-         .data__num.cloud Низкая облачность
        //-     .data-block
        //-         .data__title Осадки: 
        //-         .data__num.precipitation дождь
        //-     .data-block
        //-         .data__title Направление ветра: 
        //-         .data__num.wind-direction Северно-западный
        //-     .data-block
        //-         .data__title Сила ветра: 
        //-         .data__num.wind-speed 4 м/с