section.main-section
    .main-section__inner
        h1.main-title Виджет погоды крупных городов России на основе API сервиса openweathermap.org
        include ../../blocks/widget-options/widget-options.pug
        include ../../blocks/widgets-wrap/widgets-wrap.pug